.input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  padding: 15px;
  color: #fff;
  border-radius: 15px;
  font-size: 18px;
  font-family: inherit;
  resize: none;
  outline: none;
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: #fff;
}

.small {
  min-height: 120px;
}

.big {
  min-height: 500px;
}