.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ticket {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.postText {
  padding: 10px 20px;
  font-family: sans-serif;
}

.commentsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.userComment {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.userCommentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.commentInput {
  width: 100%;
  min-height: 120px;
  box-sizing: border-box;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  padding: 15px;
  color: #fff;
  border-radius: 15px;
  font-size: 18px;
  font-family: inherit;
  resize: none;
  outline: none;
  transition: border-color 0.3s ease;
}

.commentInput:focus {
  border-color: var(--primary-color);
}

.commentInput:focus {
  outline: none;
}

.commentBtn {
  margin-left: auto;
}