.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ticket {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.postText {
  padding: 10px 20px;
  font-family: sans-serif;
}

.commentsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.moreComments {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.moreCommentText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  color: #fff;
  font-family: sans-serif;
}

.line {
  border: 1px solid var(--border-color);
  height: 10px;
  width: 0;
}