.container {
  display: flex;
  justify-content: space-between;
}

.main {
  display: flex;
  gap: 10px;
  color: #fff;
  font-family: sans-serif;
}

.status {
  padding: 2px 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  width: fit-content;
}

.statusImg {
  width: 40px;
  height: 40px;
}

.ticketInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.titleText {
  display: flex;
  gap: 10px;
}

.id {
  color: var(--text-common-color);
}

.buttons {
  display: flex;
  gap: 10px;
}