.moreComments {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.moreCommentText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  color: #fff;
  font-family: sans-serif;
}

.line {
  border: 1px solid var(--border-color);
  height: 10px;
  width: 0;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.commentsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.end {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}