.container {
  display: flex;
  gap: 10px;
  width: 100%;
}

.profileCircle {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.post {
  border: 2px solid var(--border-color);
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  color: #fff;
}

.countContainer {
  display: flex;
  align-items: center;
  gap: 6px;
}

.features {
  display: flex;
  gap: 25px;
  align-items: center;
}

.author {
  padding: 10px 20px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}

.postText {
  padding: 10px 20px;
  font-family: sans-serif;
}

.share {
  cursor: pointer;
  transition: opacity .2s ease;
}

.share:hover {
  opacity: 0.6;
}