.main {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 120px auto;
  color: #fff;
  padding: 30px;
  border-radius: 10px;
  gap: 15px;
  position: relative;
  font-size: 18px;
  overflow: hidden;
}

.logo {
  width: 90px;
  height: 50px;
  margin: 0 auto;
}

.input {
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  padding: 5px 15px;
  color: #fff;
  outline: none;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: #fff;
}

.link {
  color: #fff;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
}

.link:hover {
  text-decoration: underline;
}

.btn {
  width: 50%;
  margin: 0 auto;
  justify-content: center;
  font-size: 20px;
  font-family: var(--accent-family);
}

.preloader {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}